@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}
 
 <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div>
<section class="hidden">
    <h1>Immigration Assistance Application!</h1>
    <h1>The Immigration Assistance Application is a web application designed to assist people with immigration needs.</h1>
</section>

<section class="hidden">
    <p>
        <h2>For example:</h2>
        <h2>- Provide political protection for people persecuted by the government</h2>
        <h2>- Education for the young generation</h2>
        <h2>- Quality and prosperous life in highly developed countries</h2>
    </p>
    <p>
        <p></p>
        <h2>With this application, users can access a variety of migration-related</h2>
        <h2>services, including obtaining visas and other documents, applying</h2>
        <h2>for employment, preparing for consular interviews, and much more.</h2>
    </p>
</section>

<section class="hidden">
    <p>
        <h2>Immigration Assistance Application provides convenient and easy</h2>
        <h2>interaction with users and is a reliable source of information about</h2>
        <h2>migration services. This app is an indispensable tool for those</h2>
        <h2>who need help with migration issues.</h2>
    </p>
</section>

@if (SignInManager.IsSignedIn(User))
{
    <div class="congrats">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>t</span>
        <span>u</span>
        <span>l</span>
        <span>a</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
        <span>s</span>
    </div>
}


